TWBOOKS_2015-16_v2/
twbooks_2015-16_v2/
*.pdf
*.zip
*.log
*.synctex.gz
*.bbl
*.aux
*.blg
*.fdb_latexmk
*.fls
*.lof
*.lol
*.lot
*.out
*.toc
*.bst
*.sh
*.refs


*.db
*.gitignore
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

